export PORT=4000
export ENV='dev'

export DB_DSN=postgres://dzenthai:pa55word@localhost:5432/appointments?sslmode=disable
export DB_MAX_OPEN_CONNS=25
export DB_MAX_IDLE_CONNS=25
export DB_MAX_IDLE_TIME='15m'
export VERIF_TOKEN_TTL='15m'

export RESEND_API_KEY='api_key'
export RESEND_SENDER='sender'

export LIMITER_ENABLED=true
export LIMITER_RPS=2.0
export LIMITER_BURST=4